

/* phone */



body {

  }
  
  h1 {
    h1 {color:rgb(0, 0, 0)};
    background-color: #d22d1fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 15px;
  }

  p {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  
 h2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 img{
  width: 100%;
  border-radius: 15px;
}

input {
  width: 90%;
  padding: 10px;
  border: 2px solid #dbdbdb;
  border-radius: 15px;
  margin: 5px;
}

  button {

    width: 100%;
    height: 50%;
    padding: 15px;
   
    border-radius: 15px;
  
   
    background-color: #d22d1fff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align:center ;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  }

  button:hover {
    background-color: whitesmoke;
    color: black;
  }